<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">

<body>
	<footer th:fragment="footer" style="background-color: black;">
		<!--  
		<div class="container">
			<span class="text-muted text-white">Programacion Visual - Cesar M10 </span>
			<button type="button" class="btn btn-outline-primary"  >Facebook</button>
			<button type="button" class="btn btn-outline-info">Twitter</button>
			<button type="button" class="btn btn-outline-light">Instagram</button>
		</div>
		-->
		
	<!-- 	<div class="container text-muted" style="color: white; text-align: center;">Programación Visual - 2021 | Libertador General San Martín - Jujuy |
			<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
	  			<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
			</svg>
		<a href="http://www.facebook.com/cesarmercadook" id="mycontent" rel="dofollow" title="Facebook" style="display: inline-block!important; font-size: inherit!important; color: #0be6af!important; visibility: visible!important;z-index:99!important; opacity: 1!important;">Cesar Mercado
		</a>
				
		</div> -->
		
		
		
	<div class="container"  >
    <p class="float-end mb-1">
      <a href="https://campus.fi.unju.edu.ar/login/index.php">Campus_fi_Unju</a>
    </p>
    <h5 >Programación Visual 2021 &copy;</h5>
    <h5 >Grupo:"Error404" </h5>
    <p>fdjfd</p>
    <h5 class="mb-6">Alumnos:Gaspar, Alvaro Emanuel| Salas, Ivan Arnaldo | Mercado, Cesar | Rodrigues, Sebastian Enrique</h5>
    <a href="https://chat.whatsapp.com/E9LuJ8nms5X1hSRiJZ6sOv" target="_blank"><img alt="whatsapp_Error404" src="/image/whatsapp.png" width=32 height=32  /></a>
    <a href="https://www.youtube.com/watch?v=RsBGFdQSqnA" target="_blank"><img alt="Youtube_Fake" src="/image/youtube.png" width=32 height=32  /></a>
  </div>
		
		
		
	</footer>
	
	
</body>
</html>