<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>Lista de Compras</title>
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
	<body>
		<header th:replace="layout/header :: header"></header>
		
		<div class="container">
						
			<div > 
				<h1 style="font-family: century gothic;">Lista de Compras</h1>
			</div>
			
			<div class="row">
					<div class="col-sm-12 col-md-10"> 
						<div class="scrollme">
						<table class="table table-responsive table-hover" style="text-align: center; background-color: gray; color: white;">
							<thead style="background-color: black;"> 
								<tr id="miTablaEncabezado">
									<th>ID Compra</th>
									<th>Codigo Producto</th>
									<th>Nombre Producto</th>
									<th>Marca Producto</th>
									<th>Stock Disponible</th>
									<th>Precio</th>
									<th>Cantidad</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								<tr id="miTablaContenido" th:each = "comp:${compras}">
									<td th:text="${comp.id}"></td>
									<td th:text="${comp.producto.getCodigo}"></td>
									<td th:text="${comp.producto.getNombre}"></td>
									<td th:text="${comp.producto.getMarca}"></td>
									<td th:text="${comp.producto.getStock}"></td>
									<td th:text="${comp.producto.getPrecio}"></td>
									<td th:text="${comp.cantidad}"></td>
									<td th:text="'$' + ${comp.getTotal(comp.producto.getPrecio)}"></td>
									
								</tr> 
							</tbody>
						
						</table>
						</div>
					</div>
			
					<div class="col col-md-2">
						<aside th:replace="layout/publicidad :: publicidad"></aside>
					</div>
				</div>
			
		</div>
		<br><br><br><br><br><br><br>
		<footer th:replace="layout/footer :: footer"></footer>
		
		<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1-lts/popper.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>	
	</body>
</html>